<div class="container">
    <div class="chat-history">
        @for (message of conversation; track $index) {
        <div class="message" [class]="message.role">
            {{ message.content }}
        </div>
        } @if(isRequestRunning){
        <img class="typing" src="typing.gif" alt="typing" />
        }
    </div>
    <div class="chat-row">
        <input
            type="text"
            [(ngModel)]="userMessage"
            placeholder="Type your message here"
            class="form-control"
            (keyup.enter)="postQuery()"
            [disabled]="isRequestRunning"
        />
        <button
            class="btn btn-primary col-2"
            (click)="postQuery()"
            [disabled]="isRequestRunning"
        >
            Send
        </button>
    </div>
</div>
